.group-crf{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-crf section .input-form{
    width: 230px;
    margin-top: 25px;
}

.group-crf .select-form{
    width: 122px;
    margin-top: 25px;
}

