
#main {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
}

#sobre {
   position: relative;
   display: flexbox;
   width: 1210px;
   height: 220px;
   border: black;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 8px;
   margin-bottom: 38px;
}

#sobre p {
   padding-top: 24px;
   width: 1132px;
   color: black;
   font-style: italic;
   font-size: 30px;
   font-weight: 500;
   line-height: 35px;
   text-align: justify;
   padding-left: 39px;
}

#sobre a {
   position: relative;
   padding-left: 85%;
   font-style: normal;
   font-weight: bold;
   font-size: 25px;
   text-align: justify;
}