
#main {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
}

#corona_info {
   position: relative;
   display: flexbox;
   background-color: black;
   width: 1210px;
   height: 241px;
   top: 55px;
   border-radius: 8px;
   margin-bottom: 98px;
}

#corona_info span {

   font-style: normal;
   font-weight: bold;
   font-size: 27px;
}

#corona_info span strong {
   color: #D3C222;
}

#sobre {
   position: relative;
   display: flex;
   width: 1210px;
   height: 220px;
   border: black;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 8px;
   margin-bottom: 38px;
}

#sobre p {
   margin-top: 24px;
   width: 1132px;
   color: black;
   font-style: italic;
   font-size: 30px;
   font-weight: 500;
   line-height: 35px;
   text-align: justify;
   padding-left: 39px;
}